<nav>
    <ul>
        <li><a href= "TODO:"></a></li>
        <li><a href= "FORMAT"></a></li>
        <li><a href= "MENU"></a></li>
    </ul>
</nav>
<h1>Welcome, Challenger!</h1>
<p>TODO: Introductory text</p>
<div>
    <container>
        {{#each db.Problem}}
        <button>{{this.description}}</button>
        {{/each}}
    </container>
</div>