<div class='bg-secondary border border-white'>
    <div class='p-3'>
        <h1 class='m-auto' style='width:fit-content;'>Welcome, Challenger!</h1>
        <p>Below, you'll find common programming interview challenges! Simply click on the name of whichever problem you like, and you'll be presented with all user-submitted solutions that our admin has approved!</p>

        <form method='get'>
        {{#each problem}}
        <button formaction='/problem/{{this.name}}' class='text-primary rounded-pill bg-dark'>{{this.name}}</button>
        {{/each}}
        </form>
    </div>
</div>