
<h1>Welcome, Challenger!</h1>
<p>TODO: Introductory text</p>
<div class='container'>
        {{#each problem}}
        <button><a href= "/problem/{{this.name}}">{{this.name}}</a></button>
        {{/each}}
</div>