<nav>
    <ul>
        <li><a href= "TODO:"></a></li>
        <li><a href= "FORMAT"></a></li>
        <li><a href= "MENU"></a></li>
    </ul>
</nav>
<div>
    <container>
        <h1>Favorites</h1>
        TODO: configure favorites bar for users.
    </container>
</div>
